@import url(global.css);


body {
    background-image: url(../css/resources/bg.jpg);
    background-size: 300%;
    background-position-y: 0px;
    background-position-x: -450px;
    background-repeat: no-repeat;
    background-color: rgba(36, 35, 35, 0.775);
    overflow: hidden;
}


@media only screen and (min-width: 768px) {
    body {
        background-size: 230%;
        background-position-y: 0px;
        background-position-x: -450px;
    }
}


@media screen and (min-width: 1025px) {
    body {
        background-size: 100%;
        background-position-y: 0px;
        background-position-x: 0px;
    }
}


.container-fluid {
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation {
    display: block;
    position: fixed;
    top: 0;
    width: 290px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.535);
    box-shadow: 0 6px 20px 6px #000;
}

.content-wrapper {
    position: relative;
    left: 290px;
}

.nav-title h2 {
    font-size: 26px;
    font-family: var(--poppins-);
    padding: 24px 10px 0;
    color: #fff;
    line-height: 2;
    font-weight: 700;
}

.sub-title-nav {
    font-size: 24px;
    margin-left: 10px;
    margin-top: 35px;
    margin-bottom: 15px;
    font-weight: 700;
    color: rgb(145, 145, 46);
}

.navigation nav {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.navigation nav ul {
    display: block;
    position: relative;
    height: 100vh;
}

.navigation nav ul li {
    display: block;
    position: relative;
    width: 100%;
}

.navigation nav ul li a {
    display: block;
    position: relative;
    width: 100%;
    padding: 25px 0 25px 35px;
    color: #fff;
    font-size: 16px;
    font-family: var(--poppins-);
    text-transform: capitalize;
    transition: background-color .3s;
}


.navigation nav ul li a:hover {
    background-color: rgba(116, 116, 23, 0.515);
}

.active {
    background-color: rgba(116, 116, 23, 0.515);
}

.navigation nav ul li a i {
    margin-right: 10px;
}


.search-wrapper {
    display: block;
    position: relative;
    width: 350px;
    top: 65px;
    left: 1230px;
}

.search-wrapper input {
    padding-right: 40px;
}

.search-wrapper i {
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 20px;
}

.content-card-wrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    /* background-color: rgba(255, 255, 255, 0.898); */
    /* box-shadow: 0 0 12px #000; */
    overflow-y: auto;
    padding: 30px 0;
    width: 100%;
    max-width: 1600px;
    height: 750px;
    max-height: 750px;
    top: 90px;
    left: 47%;
    transform: translateX(-43%);
    border-radius: 7px;
    font-family: var(--poppins-) !important;
}

.student-card-info {
    display: flex;
    justify-content: space-between;
    background-color: rgba(183, 184, 182, 0.905);
    width: 490px;
    height: fit-content;
    border-radius: 12px;
    padding: 20px 20px;
    margin-top: 25px;
    box-shadow: 0 0 12px #000;
}

.student-card-info:not(:nth-child(3n)) {
    margin-right: 25px;
}

.student-card-info .img-student-card-wrapper {
    text-align: center;
    width: 30%;
    margin-right: 20px;
}

.student-card-info .img-student-card-wrapper img {
    width: 100px;
}


.student-card-info .student-card-info-content-infos {
    width: 65%;
    border-left: 2px solid rgba(255, 255, 255, 0.22);
    padding-left: 25px;
}





/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f12a;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.741);
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.content-card-wrapper h1 {
    font-weight: 700;
}

.title-table {
    position: absolute;
    top: 55px;
    left: 60px;
    color: #fff;
    font-size: 52px;
    font-family: var(--poppins-);
    font-weight: 700;
}


.content-card-wrapper table {
    border-collapse: collapse;
    width: 100%;
}


.content-card-wrapper table td {
    padding: 10px 0;
    font-size: 18px;
}

.flex-button {
    display: flex;
    flex-direction: row;
}

.button-wrapper {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.button-wrapper i {
    margin-right: 10px;
}

.content-card-delete-wrapper {
    position: relative;
    background-color: rgba(255, 255, 255, 0.919);
    padding: 30px 50px;
    width: 1450px;
    height: fit-content;
    overflow: auto;
    top: 90px;
    left: 50%;
    transform: translateX(-43%);
    box-shadow: 0 0 12px #000;
    border-radius: 7px;
    font-family: var(--poppins-) !important;
}

.content-card-delete-wrapper h1 {
    margin-bottom: 15px;
    font-family: var(--poppins-);
    font-weight: 500;
}

.content-card-delete-wrapper p {
    font-family: var(--poppins-);
    line-height: 1.8;
}

.button-delete-all-wrapper {
    text-align: right;
    margin-right: 25px;
}

.button-delete-all-wrapper button {
    margin-top: 30px;
    padding: 15px 0;
    width: 450px;
}

.content-add-record-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: rgba(100, 100, 100, 0.734);
    padding: 90px 50px;
    width: 1450px;
    height: fit-content;
    overflow: auto;
    top: 120px;
    left: 50%;
    transform: translateX(-43%);
    box-shadow: 0 0 12px #000;
    border-radius: 7px;
    font-family: var(--poppins-) !important;
}

.title-img-wrapper {
    width: 45%;
}

.form-create-wrapper {
    width: 45%;
}

.img-wrapper-profile {
    text-align: center;
}

.img-wrapper-profile img {
    width: 350px;
    text-align: center;
}

.title-img-wrapper h1 {
    font-family: var(--poppins-);
    text-align: center;
    color: rgba(253, 253, 11, 0.665);
    margin-top: 25px;
    text-transform: uppercase;
    width: 450px;
    font-size: 42px;
    margin: 25px auto 0;
    font-weight: 700;
    line-height: 1.6;
}

.form-create-wrapper .form-group {
    margin-bottom: 20px;
}

.form-create-wrapper .form-group .form-control{
    padding: 5px 10px;
    font-size: 22px;
}


.form-create-wrapper .form-group label {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}

.form-create-wrapper .form-group label p {
    display: inline;
    font-size: 14px;
}

.button-submit-create {
    font-weight: 500;
    font-family: var(--poppins-);
    font-size: 18px;
}


.form-create-acc-wrapper {
    width: 45%;
}


.form-create-acc-wrapper .form-group {
    margin-bottom: 20px;
}

.form-create-acc-wrapper .form-group .form-control {
    padding: 5px 10px;
    font-size: 22px;
}

.form-create-acc-wrapper .form-group select.form-control {
    max-height: calc(1.2em + 18px);
    height: calc(1.2em + 18px);
}

.form-create-acc-wrapper .form-group label {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}

.form-create-acc-wrapper .form-group label p {
    display: inline;
    font-size: 14px;
}

.button-submit-create {
    font-weight: 500;
    font-family: var(--poppins-);
    font-size: 18px;
}

@keyframes fadeout {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.create-stud-invalid-input {
    display: none;
    position: absolute;
    font-size: 16px;
    margin-left: 5px;
    font-family: var(--poppins-);
    font-weight: 500;
    padding: 12px 25px;
    background-color: brown;
    right: 0;
    border-radius: 7px;
    top: 0;
    color: #fff;
    /* animation-name: fadeout;
    animation-duration: 15s;
    opacity: 0; */
}

.flex-input-icon {
    display: flex;
    position: relative;
}

.flex-input-icon i {
    position: absolute;
    top: .7rem;
    right: 1rem;
    font-size: 24px;
}

#error_msg {
    display: none;
}


#error_msg1 {
    display: none;
}


#error_msg2 {
    display: none;
}

#error_msg3 {
    display: none;
}

.created-success-msg {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    left: 60%;
    transform: translateX(-50%);
    width: 720px;
    text-align: center;
    color: #fff;
    padding: 15px 20px;
    font-size: 24px;
    font-family: var(--poppins-);
    margin: auto;
    border-left: 8px solid #fff;
}

@keyframes fadeInMsg {
    0%{
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}





.animateInSuccessMsg {
    opacity: 0;
    animation: fadeInMsg 4s;
}


.created-success-msg i {
    margin-right: 10px;
}